{% extends "plantillaBase.php.twig" %}

{% block titulo %} Administrador | publicaci칩n y comentarios{% endblock %}

{% block contenido %}


<div class="container">


  <!-- MENU -->
  <nav class="row navbar navbar-light sticky-top justify-content-between border-bottom">
    <a class="navbar-brand text-black" href="index.php">PicTravel<i class="fas fa-user-shield ml-1"></i>Panel</a>
    <a href="index.php?con=Administrador&ope=showAll&id={{fotos.0.idUsu}}&modo=publicaciones" 
    class="text-dark"><i class="far fa-images"></i>Publicaciones</a>
    <a href="index.php?con=Usuario&ope=cierraSesion" class="text-dark"><i class="fas fa-sign-out-alt"></i>Salir</a>
  </nav>


  {% for item in fotos %}

  <!-- MEDIA OBJECT -->
  <div class="media mt-4">
    <img src="{{item.imgUser}}" class="mr-3 pic_mini rounded" alt="...">
    <div class="media-body">
      <h5 class="mt-0">{{item.nick}}</h5>
      <small class="text-muted">Publicado el {{item.dateFoto}}</small>
    </div>

    <!-- BOTON BORRAR -->
    <button class="btn btn-lg" data-toggle="modal" data-target="#eliminar">
      <i class="far fa-trash-alt text-danger"></i>
    </button>

  </div>

  <!-- CARD -->
  <div class="card mt-3 border-0 style_coment">
    <div class="row border-bottom">
      <div class="col-sm-12 col-md-6">
        <img src="{{item.nameFoto}}" class="card-img" alt="foto de la publicaci칩n">
      </div>

      <div class="col-sm-12 col-md-6">

        <div class="card-body">
          <h5 class="card-title"></h5>
          <h5 class="card-title">{{item.place}}</h5>
          <p class="card-text">{{item.description}}</p>
        </div>

  {% endfor %}

      </div>
    </div>
  </div><!-- FIN CARD -->


  {% for item in comentarios %}

  <div class="col-12 my-4 p-2 border-bottom w-100">

    <ul class="list-unstyled">
      <li class="media">
        <img src="{{item.imgUser}}" class="mr-3 pic_mini rounded" alt="...">
        <div class="media-body">
          <h5 class="mt-0 my-1">{{item.nick}}</h5>
          {{item.textCom}}
        </div>

        <!-- BOTON BORRAR -->
        <a href="index.php?con=Comentario&ope=eliminar&idCom={{item.idCom}}&idUsu={{item.idUsu}}&idPub={{item.idPub}}" class="btn btn-lg">
          <i class="far fa-trash-alt text-danger"></i>
        </a>

      </li>
    </ul>
    <div class="text-right">
      <small class="text-muted">Comentado el {{item.dateCom}}</small>
    </div>

  </div><!-- COL comentarios-->

  {% endfor %}


  <!-- MODAL CONFIR BORRADO -->
  <div class="modal bd-example-modal-sm" id="eliminar">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p>Est치 seguro/a de que desea eliminar la publicaci칩n?<p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Cancelar</button>
          <a href="index.php?con=Publicacion&ope=eliminar&id={{fotos.0.idPub}}" class="btn btn-sm btn-warning">Aceptar</a>
        </div>
      </div>
    </div>
  </div>

</div>


{% endblock %}